<div class="card edit-detail">
  <header class="card-header">
    <p class="card-header-title">
     
      &nbsp;
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      <div class="field" *ngIf="editingReference.id">
        <label class="label" for="id">
          id
        </label>
        <input name="id" class="input" type="text" [ngModel]="editingReference.id" placeholder="e.g. ReferenceColleen" readOnly />
      </div>
      <div class="content">

        <div class="field">
          <label class="label" for="assignmentName">Nom de la mission</label>
          <input name="assignmentName" maxlength="80" class="input" type="text" [ngModel]="editingReference.assignmentName" readOnly placeholder="e.g. Développement d'un site web"/>
        </div>
       
        <div class="field">
          <label class="label" for="clientName">Nom du client</label>
          <input name="clientName" maxlength="80" class="input" type="text" [ngModel]="editingReference.clientName" readOnly placeholder="e.g. AMU" />
        </div>
          
          <mat-autocomplete #autoDepts="matAutocomplete">
            <mat-option *ngFor="let dept of filteredDepts | async" readOnly [value]="dept">{{dept}}</mat-option>
          </mat-autocomplete>
          <mat-autocomplete #autoCities="matAutocomplete">
              <mat-option *ngFor="let cities of filteredCities | async" readOnly [value]="cities">{{cities}}</mat-option>
          </mat-autocomplete>

        <div class="field-body is-horizontal">
          <div class="field">
            <label class="label" for="departement">Département</label>
            <input name="departement" maxlength="80" [formControl]="deptControl" readOnly class="input" [matAutocomplete]="autoDepts" type="text" placeholder="Bouches-du-Rhône (13)" />
          </div>

          <div class="field">
              <label class="label" for="city">Ville</label>
              <input name="city" class="input" maxlength="80" type="text" readOnly [formControl]="citiesControl" [matAutocomplete]="autoCities" placeholder="e.g. Marseille" />
            </div>
          </div>
  
        <div class="field-body is-horizontal">
          <div class="field">
            <label class="label" for="yearBeginAssignment">Année de début de la mission</label>
            <input name="yearBeginAssignment" class="input" type="number" readOnly min="1937" [max]="currentYear" placeholder="e.g. {{currentYear - 2}}" [ngModel]="editingReference.yearBeginAssignment"/>
          </div>
    
          <div class="field">
            <label class="label" for="yearCloseAssignment">Année de fin de la mission</label>
            <input name="yearCloseAssignment" class="input" min="1937" readOnly [max]="currentYear" type="number"  placeholder="e.g. {{currentYear}}" [ngModel]="editingReference.yearCloseAssignment"/>
          </div>
        </div>
  
        <div class="field-body is-horizontal">
          <div class="field" *ngIf="this.router.url === '/references/show-full'">
            <label class="label" for="amountBenefit">Montant de prestations</label>
            <input name="amountBenefit" class="input" type="number" readOnly [ngModel]="editingReference.amountBenefit" placeholder="e.g. 10000 €" />
          </div>


          <div class="field">
              <label class="label" for="technicalField">Domaine des prestations</label>
              <input name="technicalField" class="input"  readOnly type="text" [ngModel]="Domain[editingReference.technicalField]"/>
            </div>

        </div>
  
        <div class="field">
          <label class="label" for="benefitDetail">Détails des prestations</label>
          <textarea name="benefitDetail" rows="10" class="textarea" readOnly [ngModel]="editingReference.benefitDetail" placeholder="Entrez les différentes missions réalisées ici."></textarea>
        </div>

      </div>
    </div>
  </div>
</div>
