// Background palette.
$custom-light-theme-background: (
  app-bar: white,
  background: white,
  login-background: white,
  dialog: #f8f9fb
);

$light-primary: mat-palette($mat-gray, 900, 800, 900);
$light-accent: mat-palette($mat-indigo, 300, 200, 400);
$light-warn: mat-palette($mat-red);
$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);

// Remplacement de la couleur de fond par défaut
$background: map-get($light-theme, background);
$background: map_merge($background, $custom-light-theme-background);
$light-theme: map_merge(
  $light-theme,
  (
    background: $background,
  )
);
