<div class="card edit-detail">
  <header class="card-header">
    <p class="card-header-title">
     
      &nbsp;
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      <div class="field" *ngIf="editingReference.id">
        <label class="label" for="id">
          id
        </label>
        <input name="id" class="input" type="text" [(ngModel)]="editingReference.id" placeholder="e.g. ReferenceColleen" readOnly />
      </div>
      <div class="content">

        <div class="field">
          <label class="label" for="assignmentName">Nom de la mission</label>
          <input name="assignmentName" maxlength="80" class="input" type="text" [(ngModel)]="editingReference.assignmentName" placeholder="e.g. Développement d'un site web"/>
        </div>
       
        <div class="field">
          <label class="label" for="clientName">Nom du client</label>
          <input name="clientName" maxlength="80" class="input" type="text" [(ngModel)]="editingReference.clientName" placeholder="e.g. AMU" />
        </div>
          
          <mat-autocomplete #autoDepts="matAutocomplete">
            <mat-option *ngFor="let dept of filteredDepts | async" [value]="dept">{{dept}}</mat-option>
          </mat-autocomplete>
          <mat-autocomplete #autoCities="matAutocomplete">
              <mat-option *ngFor="let cities of filteredCities | async" [value]="cities">{{cities}}</mat-option>
          </mat-autocomplete>

        <div class="field-body is-horizontal">
          <div class="field">
            <label class="label" for="departement">Département</label>
            <input name="departement" maxlength="80" [formControl]="deptControl" class="input" [matAutocomplete]="autoDepts" type="text" placeholder="Bouches-du-Rhône (13)" />
          </div>

          <div class="field">
              <label class="label" for="city">Ville</label>
              <input name="city" class="input" maxlength="80" type="text" [formControl]="citiesControl" [matAutocomplete]="autoCities" placeholder="e.g. Marseille" />
            </div>
          </div>
  
        <div class="field-body is-horizontal">
          <div class="field">
            <label class="label" for="yearBeginAssignment">Année de début de la mission</label>
            <input name="yearBeginAssignment" class="input" type="number" min="1937" [max]="currentYear" placeholder="e.g. {{currentYear - 2}}" [(ngModel)]="editingReference.yearBeginAssignment"/>
          </div>
    
          <div class="field">
            <label class="label" for="yearCloseAssignment">Année de fin de la mission</label>
            <input name="yearCloseAssignment" class="input" min="1937" [max]="currentYear" type="number"  placeholder="e.g. {{currentYear}}" [(ngModel)]="editingReference.yearCloseAssignment"/>
          </div>
        </div>
  
        <div class="field-body is-horizontal">
          <div class="field">
            <label class="label" for="amountBenefit">Montant de prestations</label>
            <input name="amountBenefit" class="input" type="number" [(ngModel)]="editingReference.amountBenefit" placeholder="e.g. 10000 €" />
          </div>

          <div class="select is-fullwidth">
              <label class="label" for="technicalField">Domaine des prestations</label>
              <select name="technicalField" [(ngModel)]="editingReference.technicalField">
                <option *ngFor="let domain of Domain | keyvalue"
                        [ngValue]="domain.key"
                        [selected]="domain.value === 'Anonyme'">
                  {{domain.value}}
                </option>
              </select>
            </div>
        </div>
  
        <div class="field">
          <label class="label" for="benefitDetail">Détails des prestations</label>
          <textarea name="benefitDetail" rows="10" class="textarea" [(ngModel)]="editingReference.benefitDetail" placeholder="Entrez les différentes missions réalisées ici."></textarea>
        </div>

        <div class="file is-fullwidth has-name">
          <label class="file-label">
            <input class="file-input" (change)="fileEvent($event)" type="file" name="resume" [(ngModel)]="editingReference.picture">
            <span class="file-cta">
              <span class="file-icon">
                <i class="fas fa-upload"></i>
              </span>
              <span class="file-label">
                Choisissez un fichier...
              </span>
            </span>
            <span class="file-name">
              {{editingReference.picture}}
            </span>
          </label>
        </div>

      </div>
    </div>
  </div>
  <footer class="card-footer ">
    <app-button-footer class="card-footer-item" [className]="'cancel-button'" [iconClasses]="'fas fa-undo'" (clicked)="clear()"
      label="Annuler" [item]="editingReference"></app-button-footer>
    <app-button-footer class="card-footer-item" [className]="'save-button'" [iconClasses]="'fas fa-save'" (clicked)="saveReference()"
      label="Enregistrer" [item]="editingReference"></app-button-footer>
  </footer>
</div>
