<div class="content-container">
  <app-list-header title="References" (add)="enableAddMode()" (refresh)="getReferences()"></app-list-header>
  <div class="columns is-multiline is-variable">
    <div class="column is-11" *ngIf="references$ | async as references">
      <app-reference-list *ngIf="!selected" [references]="references" [selectedReference]="selected" (selected)="select($event)"
        (deleted)="askToDelete($event)"></app-reference-list>
      <app-reference-detail *ngIf="selected" [reference]="selected" (unselect)="clear()" (save)="save($event)"></app-reference-detail>
    </div>
  </div>

  <app-modal class="modal-reference" [message]="message" [isOpen]="showModal" (handleNo)="closeModal()" (handleYes)="deleteReference()"></app-modal>
</div>
