<div class="field has-addons">
  <p class="control has-icons-left">
    <span class="select">
      <select [(ngModel)]="type">
        <option value="assignmentName">nom de la mission</option>
        <option value="clientName">nom du client</option>
        <option value="city">ville</option>
        <option value="yearBeginAssignment">année de début</option>
        <option value="yearCloseAssignment">année de fin</option>
        <option value="amountBenefit">montant des prestations</option>
        <option value="technicalField">domaine</option>
      </select>
    </span>
    <span class="icon is-left">
        <i class="fas fa-search" aria-hidden="true"></i>
      </span>
  </p>
  <p class="control is-expanded">
    <input class="input" type="text" [(ngModel)]="searchText" placeholder="Entrez ici l'information à rechercher">
  </p>
  
</div>

<ul class="list">
  <li role="presentation" *ngFor="let reference of references | filter : searchText : type; trackBy:byId; let i=index">
    <div class="card">
      <app-card-content
      [name]="reference.assignmentName" 
      [subinfo]="'client: ' + (reference.clientName)"
      [subinfo2]="'lieu: ' + (reference.city) + ', ' + (reference.departement)"
      [subinfo3]="'domaine: ' + (Domain[reference.technicalField])"
      [subinfo4]="'année: ' + (reference.yearBeginAssignment)+ '-' +(reference.yearCloseAssignment)"
      >
      
    </app-card-content>
      <footer class="card-footer">
        <app-button-footer class="card-footer-item"
          [className]="'delete-item'"
          [iconClasses]="'fas fa-trash'"
          (clicked)="deleteReference($event)"
          label="Supprimer"
          [item]="reference"></app-button-footer>
        <app-button-footer class="card-footer-item"
          [className]="'edit-item'"
          [iconClasses]="'fas fa-edit'"
          (clicked)="selectReference($event)"
          label="Modifier"
          [item]="reference"></app-button-footer>
      </footer>
    </div>
  </li>
</ul>
