<div class="content-container">
  <app-list-header title="Comptes" (add)="enableAddMode()" (refresh)="getAccounts()"></app-list-header>
  <div class="columns is-multiline is-variable">
    <div class="column is-11" *ngIf="accounts$ | async as accounts">
      <app-account-list *ngIf="!selected" [accounts]="accounts" [selectedAccount]="selected" (selected)="select($event)"
        (deleted)="askToDelete($event)"></app-account-list>
      <app-account-detail *ngIf="selected" [account]="selected" (unselect)="clear()" (save)="save($event)"></app-account-detail>
    </div>
  </div>

  <app-modal class="modal-account" [message]="message" [isOpen]="showModal" (handleNo)="closeModal()" (handleYes)="deleteAccount()"></app-modal>
</div>
